<div id="experience" class="experience-section">
    <h2 class="section-title">MY EXPERIENCE</h2>
    <div class="timeline" #timelineRef>

        <!-- Company 1 -->
        <div class="timeline-item">
            <div class="timeline-dot"></div>

            <div class="timeline-content">
                <h2>FULL STACK DEVELOPER - SOFTWARE ENGINEER - 1</h2>
                <h4>Bizmetric Ind Pvt Ltd</h4>
                <span class="duration">2025 - 2026</span>
    
                <ul>
                    <li>Developed full stack features using Angular and Node.js for customer-facing enterprise asset integrity platform supporting subsea operations</li>
                    <li>Built admin bulk upload module using Excel processing with validation, normalization, and relational data mapping</li>
                    <li>Implemented advanced data table features including full-screen views, dynamic filtering, pagination, and configurable columns</li>
                    <li>Collaborated with client teams to deliver scalable production features aligned with real-world
                        subsea operational requirements</li>
                    <li>Contributed to architecture modernization improving system scalability, performance, and maintainability</li>
                </ul>
            </div>
        </div>

        <!-- company 2 -->
        <div class="timeline-item">
            <div class="timeline-dot"></div>

            <div class="timeline-content">
                <h2>SOFTWARE ENGINEER</h2>
                <h4>Centizen, Inc.</h4>
                <span class="duration">2023 - 2025</span>

                <ul>
                    <li>Designed and structured a scalable Node.js + Express.js backend architecture with PostgreSQL to support reliable data management and high-volume transactions</li>
                    <li>Developed microservices-based backend services enabling modular, maintainable, and independently deployable components</li>
                    <li>Integrated secure third-party payment gateways to handle online transactions with proper validation and error handling</li>
                    <li>Built and implemented GraphQL APIs to optimize data exchange between frontend and backend, reducing over-fetching and improving performance</li>
                    <li>Built responsive frontend features using Angular forms, custom pipes, directives, and services, creating reusable UI components and improving user experience</li>
                </ul>
            </div>
        </div>
    </div>

</div>